h1 {
   font-family: algerian;
   font-size: 32px;
   color: black;
   text-shadow: 2px 2px 15px blue;
   text-align: center;
}
h2 {
   font-family: times new roman;
   font-size: 20pt;
   color: black;
   text-shadow: 2px 2px 15px;
}
body {
   background-color: #2a5f42;
}
div {
   text-align: center;
}

img {
   width: 50%;
   height: 30%;
}
